@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
	font-family: 'Montserrat', sans-serif;
}
body, html {
	height: 100%;
	margin: 0px;
}
.button {
	padding: 1%;
	margin: 1%;
	transition-duration: 400ms;
	cursor: pointer;
	display: flex;
	justify-content: center;
	border: 1px solid #b2393b;
	color: #b2393b;
	background: transparent;
	text-decoration: none;
}
.button:hover, .button:focus {
	background-color: #b2393b;
	color: black;
}